# 1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Create path variable
path = r'C:\Users\justi\Downloads\05-2024 Instacart Basket Analysis_JB\05-2024 Instacart Basket Analysis'

# Import 'ords_prods_merged_newcolumns' data from Exercise 4.7
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'ords_prods_merged_newcolumns.pkl'))

In [6]:
# Confirming newly recreated columns: 'price_label', 'busiest_days', 'busiest_period_of_day' are on the far right of dataframe
df_ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_label,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3,5,0,both,Mid-range product,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20,1,1,both,Mid-range product,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6,20,0,both,Mid-range product,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7,10,0,both,Mid-range product,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9,11,1,both,Mid-range product,Slowest days,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9918248,49688,Fresh Foaming Cleanser,73,11,13.5,800785,52884,20,6,18,6,25,0,both,Mid-range product,Regularly busy,Average orders
9918249,49688,Fresh Foaming Cleanser,73,11,13.5,2604681,55650,9,1,20,9,5,0,both,Mid-range product,Busiest days,Average orders
9918250,49688,Fresh Foaming Cleanser,73,11,13.5,1869717,57228,13,2,9,10,14,0,both,Mid-range product,Regularly busy,Most orders
9918251,49688,Fresh Foaming Cleanser,73,11,13.5,538174,57383,12,1,20,30,13,0,both,Mid-range product,Busiest days,Average orders
9918252,49688,Fresh Foaming Cleanser,73,11,13.5,2498014,58341,5,5,9,18,12,0,both,Mid-range product,Regularly busy,Most orders

# 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [10]:
# Use .groupby() and .mean functions to calculate mean of 'order_number' column []
df_ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.393473
2     17.000546
3     17.216578
4     17.714601
5     14.958409
6     16.454727
7     17.325861
8     15.117326
9     16.027829
10    20.229811
11    16.453444
12    15.895358
13    16.692698
14    16.817133
15    16.133323
16    17.607401
17    15.936598
18    19.646685
19    17.216008
20    16.393918
21    22.580576
Name: order_number, dtype: float64

# 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### There are 21 departments instead of 8 in the subset of the Exercise 4.8 module. The mean is larger in Department 10 and 21 than the others. This could indicate products in this category were ordered more frequently.

# 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [11]:
# Create new column "max_order" using .groupby([]) .transform(np.max) on the columns 'user_id' and 'order_number'
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\justi\AppData\Local\Temp\ipykernel_8248\2513480803.py:2: FutureWarning: The provided callable <function max at 0x0000022BBF468540> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
# Checking for new column 'max_order' appears in far right of dataframe
df_ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_label,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3,5,0,both,Mid-range product,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20,1,1,both,Mid-range product,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6,20,0,both,Mid-range product,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7,10,0,both,Mid-range product,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9,11,1,both,Mid-range product,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26,7,0,both,Mid-range product,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30,2,0,both,Mid-range product,Regularly busy,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30,1,0,both,Mid-range product,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19,1,0,both,Mid-range product,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15,2,1,both,Mid-range product,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,7,1,0,both,Mid-range product,Regularly busy,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7,1,0,both,Mid-range product,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7,3,1,both,Mid-range product,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12,4,1,both,Mid-range product,Regularly busy,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2,8,0,both,Mid-range product,Slowest days,Most orders,13
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6,18,1,both,Mid-range product,Regularly busy,Average orders,13
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10,12,1,both,Mid-range product,Regularly busy,Average orders,13
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,7,10,0,both,Mid-range product,Regularly busy,Fewest orders,28
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,6,9,1,both,Mid-range product,Busiest days,Average orders,28
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,14,9,1,both,Mid-range product,Busiest days,Fewest orders,28

In [16]:
# Assign loyalty flag using .loc[]
# If user orders above 40 = 'Loyal customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
# If user orders between 10-40 = 'Regular customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [18]:
# If user orders 10 or less = 'New customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
# Check loyalty flags using .value_counts(dropna = False) function
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    4865587
Loyal customer      3154279
New customer        1898387
Name: count, dtype: int64

In [21]:
# Check Loyalty flag in dataframe of first 10 results
df_ords_prods_merge[['user_id', 'loyalty_flag','max_order']].head(10)

   user_id      loyalty_flag  max_order
0      138  Regular customer         32
1      138  Regular customer         32
2      709      New customer          5
3      764      New customer          3
4      764      New customer          3
5      777  Regular customer         26
6      825      New customer          9
7      910  Regular customer         12
8     1052  Regular customer         20
9     1052  Regular customer         20

# 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [22]:
# Use .agg function to find the min, max, and mean of each user group of 'loyalty flag'
df_ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     9.435027  1.0  99999.0
New customer      12.705686  1.0  99999.0
Regular customer  11.675800  1.0  99999.0

#### Looking at the mean, the average price of a product purchased from 'new customer' is about 3 dollars more than that of the 'loyal customer'.

# 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

## If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [29]:
# Creating new column called 'average spend' using .groupby and .transform(np.mean) functions
df_ords_prods_merge['average_spend'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\justi\AppData\Local\Temp\ipykernel_8248\1287869978.py:2: FutureWarning: The provided callable <function mean at 0x0000022BBF468F40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['average_spend'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [40]:
# Creating flag 'low spender' for average spend < 10
df_ords_prods_merge.loc[df_ords_prods_merge['average_spend'] <10,'spender_flag'] ='Low spender'

In [41]:
# Creating flag 'high spender' for average spend >= 10
df_ords_prods_merge.loc[df_ords_prods_merge['average_spend'] >= 10, 'spender_flag'] = 'High spender'

In [42]:
# Check frequency count of spender flags using .value_counts(dropna = False) function
df_ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low spender     9736335
High spender     181918
Name: count, dtype: int64

In [43]:
# View first 10 results of dataframe with 'spender_flag' column data now
df_ords_prods_merge[['user_id', 'prices', 'average_spend', 'spender_flag']].head(10)

   user_id  prices  average_spend spender_flag
0      138     5.8       6.935811  Low spender
1      138     5.8       6.935811  Low spender
2      709     5.8       7.930208  Low spender
3      764     5.8       4.972414  Low spender
4      764     5.8       4.972414  Low spender
5      777     5.8       6.935398  Low spender
6      825     5.8       5.957576  Low spender
7      910     5.8       6.680000  Low spender
8     1052     5.8       7.162500  Low spender
9     1052     5.8       7.162500  Low spender

# 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

## If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
## If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
## If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [45]:
# Create a column for frequent users called 'Customer_frequency' using 'days_since_prior_order' column, .groupby([]) and .transform(np.median) functions
df_ords_prods_merge['Customer_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\justi\AppData\Local\Temp\ipykernel_8248\494834663.py:2: FutureWarning: The provided callable <function median at 0x0000022BBF604D60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['Customer_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [48]:
# Create 'frequency flag' on for 'days_since_prior_order' > 20 = 'Non-frequent customer' 
df_ords_prods_merge.loc[df_ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

In [49]:
# Create 'frequency flag' on for 'days_since_prior_order' is between 10-20 = 'Regular customer' 
df_ords_prods_merge.loc[(df_ords_prods_merge['Customer_frequency'] >10) & (df_ords_prods_merge['Customer_frequency'] <=20),'frequency_flag'] = 'Regular customer'

In [50]:
# Create 'frequency flag' on for 'days_since_prior_order' is 10 days or less = 'Frequent customer' 
df_ords_prods_merge.loc[df_ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [51]:
# Check frequency flags using .value_counts(dropna = False)
df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Regular Customer         6956973
Regular customer         2146117
Non_frequent_customer     815163
Name: count, dtype: int64

In [52]:
# View first 10 results of dataframe with 'customer_frequency' and 'frequency_flag' columns data now
df_ords_prods_merge[['user_id','days_since_prior_order', 'Customer_frequency', 'frequency_flag']].head(10)

   user_id  days_since_prior_order  Customer_frequency    frequency_flag
0      138                       3                 8.0  Regular Customer
1      138                      20                 8.0  Regular Customer
2      709                       6                 7.0  Regular Customer
3      764                       7                 9.0  Regular Customer
4      764                       9                 9.0  Regular Customer
5      777                      26                11.0  Regular customer
6      825                      30                19.0  Regular customer
7      910                      30                 6.0  Regular Customer
8     1052                      19                 9.5  Regular Customer
9     1052                      15                 9.5  Regular Customer

# 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [54]:
# Export as .pkl file
df_ords_prods_merge.to_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'ords_prods_merged_aggregated.pkl'))